body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.entrada {
    height: 10rem;
    border: 1px solid green;
    background-color: rgb(165, 227, 186);
    margin: 0.5rem;
    border-radius: 10px;
}
.calculos {
    height: 10rem;
    border: 1px solid green;
    margin: 0.5rem;
}
.inputGastos {
    height: 12rem;
    border: 1px solid rgb(239, 28, 28);
    background-color: rgb(233, 162, 162);
    margin: 0.5rem;
    border-radius: 10px;
}
.detalleGastos {
    height: 100%;
    border: 1px solid green;
    margin: 0.5rem;
}